.formContainer {
    display: flex;
    height: 100%;
}

.progressBarContainer {
    width: 100%;
    margin-top: 24px;

    .progressBar {
        background-color: #D9D9D9;
        height: 12px;
        width: 100%;
        border-radius: 5px;
    }

    .progressSection {
        background-color: #D41B2C;
        height: 100%;
        border-radius: 5px;

        &Half {
            width: 50%;
        }

        &Full {
            width: 100%;
        }
    }
}