@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

* {
  font-size: 14px;
  font-family: 'Lato', sans-serif !important;
}

a {
  color:  inherit;
  transition: 0.5s;
}

h1 {
  font-size: 36px !important;
  margin: 1rem 0px;
}

h2 {
  font-size: 24px !important;
  margin: 1rem 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* NOTE: Not totally sure if this is the best fix or way to do this but its definitely something? */
button, .button { 
  border: solid 1px;
  border-radius: 10px;
  padding: 8px 24px;
  cursor: pointer;
}

