.tooltip {
  position: relative;
  display: inline block;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: #585858;
  text-decoration-thickness: 1px;
  width: max-content;
}

.tooltipText {
  font-style: normal;
  text-align: justify;
  padding: 10px;
  margin: 5px;
  visibility: hidden;
  background-color: white;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: max-content;
  max-width: 600px;
}

.tooltipText p {
  margin: 12px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.infoTooltip {
  position: relative;
  display: inline-block;
}

/* Disable transitions for tooltip */
.infoTooltip,
.infoTooltip * {
  transition-property: opacity 0.1s;
}

.infoTooltip .infoTooltipText {
  opacity: 0;
  width: 140px;
  background-color: white;
  color: #585858;
  text-align: left;
  border: solid 0.5px #585858;
  border-radius: 2px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -70px;
}

.infoTooltip .infoTooltipText::before,
.infoTooltip .infoTooltipText::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
}

/* The outline of the triangle */
.infoTooltip .infoTooltipText::before {
  border-left: 6.5px solid transparent;
  border-right: 6.5px solid transparent;
  border-bottom: 6.5px solid #585858;
  margin-left: -6.5px;
  margin-bottom: 0px;
}

/* The white fill of the triangle */
.infoTooltip .infoTooltipText::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  margin-left: -6px;
  margin-top: -2px;
  z-index: 1;
}

.infoTooltip:hover .infoTooltipText {
  opacity: 1;
}

.h-max-content {
  height: max-content;
}

.h-39 {
  height: 156px !important;
}

.nav-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: #cc0000;
  height: 3px;
  border-radius: 10px;
  transition: 0.6s;
}

.nav-underline-red::after {
  left: 0;
  right: 0;
}

.hover\:nav-underline-red:hover::after {
  left: 0;
  right: 0;
}
