.navbar-container {
    background-color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 48px;
    max-width: 100vw;

    a {
        color: white;
        font-weight: bolder;
    }

    a:hover {
        color: #d3d3d3;
    }

    .active, .not-active {
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        text-decoration: none;
    }

    .active {
        border-color: red;
    }

    .inline-icon {
        display: flex;
        align-items: center;
        img {
            margin-right: 8px;
        }
    }
}