.instructions-container {
    ul {
        list-style-position: inside;
        padding: 0;
        *:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .tooltip-container {
        display: flex;
        align-items: center;
        *:not(:last-child) {
            margin-right: 8px;
        }
    }
}